{% macro render_table(table_name, relation) %}
<p class="table-name">
    {{table_name}}
</p>
{% set n = relation|length %}
<table class="index-table">
    <thead>
        <tr>
            <th>Услуга</th>
            <th>Мастер</th>
            <th>Рабочие часы</th>
            <th>Рейтинг</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(n) %}
            <tr>
                <td> {{ relation.loc[i, 'service_name'] }} </td>
                <td> {{ relation.loc[i, 'master_name'] }} </td>
                <td>
                    {{ relation.loc[i, 'work_day_start'][:5] }} 
                    - 
                    {{ relation.loc[i, 'work_day_end'][:5] }}
                </td>
                <td> 
                    {% set rating = relation.loc[i, 'rating'] %}
                    {% if rating|float >=0 %}
                    &#11088 {{ '{:.1f}'.format(rating) }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('master_service', id=relation.loc[i, 'master_service_id']) }}" class="button">
                        Подробнее ({{ relation.loc[i, 'master_service_id'] }})
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
   
{% extends('base.html') %}
{% block title %}
    {{title}}
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index_style.css') }}">
{% endblock %}

{% block body %}
    <form action="{{ url_for('index') }}">
        <p class="search">
            Сервис:
            <select name='service'>
            {% set n = service_list|length %}
            {% for i in range(n) %}
            <option value='{{service_list.loc[i, "service_id"]}}'>{{service_list.loc[i, "service_name"]}}</option>
            {% endfor %}
            </select>
            <input type=submit value=Отправить>
        </p>
    </form>
    <div class="content"> 
        {{ render_table('Список услуг', m_service_list) }}
    </div>
{% endblock %}