/* для тестов */
.dataframe{
    background-color: white;
    width:100%;
    border-collapse: collapse;
    margin-bottom: 1%;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.main_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    padding: 0;
    margin-bottom: 10%;
}

.service, .reviews, .order{
    /*padding-bottom: 1%;*/
    width:60%;
    margin-top: 1%;
    background-color: #ebeeeb;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
}
.order{
    margin-left:1%;
    width:39%;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top:3em;
}

div.description{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}
.field{
    width:50%;
    vertical-align: middle;
    font-size: 1.2em;
    text-align: right;
    padding-right: 2em;
}
.field > p {
    font-weight: bold;
}
.value{
    width:50%;
    vertical-align: middle;
    font-size: 1.2em;
    text-align: left;
}
form {
    width:100%;
    margin:0 auto;
}

input[type='submit'] {
    width:100%;
    padding: 10px;
    font-size: xx-large;
    font-weight: bold;
    background: white;
    border-radius: 20px;
    border:solid 2px green;
    margin-top: 10px;
    color: rgba(4,104,55,1);
    transition-duration: 0.4s;
}

input[type='submit']:hover {
    background: #4CAF50;
    color:white;
}

p.title{
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, rgba(4,104,55,1) 0%, rgba(4,104,84,1) 35%, rgba(4,104,99,1) 100%);
    border-radius: 20px;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    margin-top: 0px;
}
input[type="date"]{
    position: relative;
    margin:1% auto;
    background-color: rgba(4,104,55,1);
    padding: 15px;
    /*transform: translate(-50%,-50%);*/
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
}
span {
    color:rgba(4,104,55,1);
}
h1{
    color: rgba(4,104,55,1);
}
.review_card{
    background-color: #f9f9f9;
    padding: 1.5em;
    margin:0.5em;
    border-radius: 20px;
    border:solid 2px rgba(4,104,84,1);
}